.chargement {
  position: absolute;
  width: 100%;
  height: 854px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  z-index: -1;
  padding-top: 200px;
  opacity: 1;





}

.chargement__txt {
  font-family: shrikhand;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: #a8a8aa;
  padding-bottom: 40px;
}

.load__circles {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.load-circle {
  border: #cccbcb 3px solid;
  width: 5px;
  height: 5px;
  background-color: #cccbcb;
  border-radius: 50px;
  animation: chargement 700ms alternate infinite;
  animation-fill-mode: both;


}

.load-circle--1 {

  animation-delay: 0ms;
}

.load-circle--2 {
  animation-delay: 110ms;
}

.load-circle--3 {
  animation-delay: 220ms;
}

.load-circle--4 {
  animation-delay: 330ms;
}

.load-circle--5 {
  animation-delay: 440ms;
}


@keyframes chargement {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(0.4);
  }

  40% {
    transform: scale(0.8);
  }

  60% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(2);
  }
}

body {
  width: 100%;

}

.conteneur {
  width: 100%;
  opacity: 0;
  animation: apparition 1ms 3000ms;
  animation-fill-mode: both;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  width: 100%;
  height: 55px;
  background-color: white;
  box-shadow: 0px 2px 4px 0px #00000026;
  position: relative;

}

.header__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit: cover;
  padding-top: 20px;
}

.header__img {
  display: block;
  width: 120px;
}

/* Section recherche */
.recherche {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}

.recherche__logo {
  width: 25%;
  text-align: right;
  color: #353535;
  font-size: 18px;
  padding-right: 10px;
}

.recherche__formulaire {
  width: 60%;
}

#localisation {
  display: block;
  width: 100%;
  color: #353535;
  background-color: #EAEAEA;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: #EAEAEA;
}

/* Section bannière  */
.bannière {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  height: 300px;
}

.bannière__h1 {
  width: 100%;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 24px;
  padding-top: 20px;
}

.bannière__p {
  width: 98%;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
}

.bannière__bouton {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#bannière__bouton {
  display: block;
  width: 180px;
  font-family: Roboto;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 25px;
  height: 48px;
  border: 0px solid;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  position: relative;
  z-index: 1;
}

#bannière__bouton::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -1;
  display: block;
  width: 180px;
  font-family: Roboto;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 25px;
  height: 48px;
  border: 0px solid;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

  background: linear-gradient(200.64deg, #9f77cf -5.2%, #fd98e0 110.74%);
  opacity: 0;
  transition: opacity 0ms;


}

#bannière__bouton:hover::after {
  opacity: 1;
}

#bannière__bouton:hover {
  box-shadow: none;

}

/* Section fonctionnement */
.fonctionnement {
  width: 100%;
  height: 400px;
  background-color: white;
}

.fonctionnement__h1,
.main__h1 {
  width: 80%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: black;
  padding-left: 20px;
  padding-top: 35px;
}

.fonctionnement__nav {
  width: 100%;
}

.fonctionnement__ol {
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-left: 20px;
  counter-reset: ol__li;
}

.ol__li::before {
  content: counter(ol__li);
  color: white;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  left: -18px;
  font-weight: 500;
  font-size: 10px;
  font-family: 'Roboto';
  line-height: 12px;
  position: relative;
  height: 18px;
  border-radius: 50px;
}

.ol__li {
  width: 90%;
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 60px;
  font-weight: 500;
  color: black;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #F7F7F7;
  text-align: center;
  border-color: #F7F7F7 2px solid;
  box-shadow: #EAEAEA 6px 6px 6px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  counter-increment: ol__li;
}

.fa-mobile-screen,
.fa-list-ul,
.fa-store {
  color: #7E7E7E;
  font-size: 14px;
  padding-right: 5px;
  padding-right: 10px;
}

.fa-store {
  color: #9356DC;
}

/* Main */
.main {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  height: 1000px;
}

.main__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 850px;
}

.article {
  width: 90%;
  background-color: white;
  border-radius: 15px;
  border: #EAEAEA 2px solid;
  box-shadow: #EAEAEA 6px 6px 6px;
}

.article__image {
  width: 100%;
  border-radius: 15px 0px 15px 0px;
  display: block;
  position: relative;
  z-index: 2;
}

.article__photo {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.image__bouton {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: #008756;
  background: #99E2D0;
  border: #99E2D0 1px solid;
  border-radius: 2px;
  box-shadow: #7e7e7e 2px 2px 10px;
  width: 30%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__a {
  width: 100%;
  text-decoration: none;
  color: black;
}

.article__bas {
  display: flex;
  flex-direction: row;
}

.article__texte {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.article__h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: black;
  margin: 0px;
}

.article__p {
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  margin: 0px;
  padding-top: 5px;
}

.article__logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

}



.fa-heart {
  font-size: 25px;
  color: #101010;
  display: inline-block;
  position: relative;
  z-index: 0;
}




.fa-heart::after {
  font-size: 25px;
  content: "\f004";
  display: inline-block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transition: opacity 300ms ease-in-out;
  opacity: 0;

}

.fa-heart:hover::after {
  opacity: 1;

}

/* Footer */
.footer {
  width: 100%;
  background-color: #353535;
}

.footer__header {
  width: 100%;
  background-color: #353535;
}

.footer__logo {
  font-family: Shrikhand;
  font-style: italic;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 0px;
  width: 90%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.footer__nav {
  width: 100%;
  padding-bottom: 40px;
}

.footer__ul {
  width: 90%;
  list-style: none;
  padding-left: 20px;
}

.fa-solid--white {
  color: white;
  font-size: 10px;
  padding-right: 5px;
}

.ul__li {
  width: 90%;
  padding-bottom: 5px;
}

.ul__a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-decoration: none;
  width: 100%;
}


@media screen and (min-width: 270px) {


  .ol__li::before {
    width: 8%;
  }

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {

    font-size: 16px;
    padding-right: 15px;
    padding-left: 0px;
  }

  .main {
    height: 1100px;
  }

  .main__section {
    height: 950px;
  }

  .image__bouton {
    width: 25%;
    /* top: 15px; */
    right: 15px;
  }
}

@media screen and (min-width: 300px) {
  .ol__li::before {
    height: 19px;
  }
}

@media screen and (min-width: 320px) {

  .ol__li {
    font-size: 16px;
    height: 65px;
    border-radius: 25px;
  }

  .ol__li::before {
    width: 8%;
    font-size: 12px;
    line-height: 14px;
    height: 21px;
  }

  .main {
    height: 1200px;
  }

  .main__section {
    height: 1050px;
  }

  .image__bouton {
    width: 22%;
  }
}

@media screen and (min-width: 350px) {
  .recherche__logo {
    width: 37%;

  }

  .ol__li::before {
    width: 7%;
    height: 20px;
  }

  .main {
    height: 1400px;
  }

  .main__section {
    height: 1150px;
  }

  .image__bouton {
    width: 25%;
    font-size: 16px;
    line-height: 16px;
    height: 25px;
    /* top: 20px; */
    right: 15px;
  }



}

@media screen and (min-width: 400px) {

  .fonctionnement__ol {
    padding-left: 30px;
  }

  .ol__li {
    width: 90%;
    font-size: 18px;
    line-height: 64px;
    height: 75px;
    border-radius: 30px;

  }

  /*
  .ol__li::before {
    width: 8%;
    font-size: 14px;
    line-height: 16px;
    height: 25px;
  } */
  /* .ol__li::before {
    width: 5%;
    font-size: 12px;
    line-height: 14px;
    height: 17px;
  } */
  .ol__li::before {
    width: 6%;
    font-size: 12px;
    line-height: 14px;
    height: 20px;
}

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {
    color: #7E7E7E;
    font-size: 20px;
    padding-right: 25px;
  }

  .fa-store {
    color: #9356DC;
  }

  .main__section {
    height: 1210px;
  }


}

@media screen and (min-width: 450px) {
  .recherche__logo {
    width: 40%;

  }

  .fonctionnement {
    height: 500px;
  }

  .ol__li {
    font-size: 22px;
    line-height: 64px;
    height: 85px;
    border-radius: 35px;

  }

  /* .ol__li::before {
    height: 27px;
  } */

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {
    font-size: 24px;
  }

  .fa-store {
    color: #9356DC;
  }

  .article__h2 {
    font-size: 20px;
    line-height: 23px;
  }

  .article__p {
    font-size: 19px;
    line-height: 22px;
  }

  .fa-heart {
    font-size: 29px;
  }

  .fa-heart::after {
    font-size: 29px;
  }

  .main {
    height: 1500px;
  }

  .main__section {
    height: 1310px;
  }

  .image__bouton {
    font-size: 18px;
    height: 30px;
  }


}

@media screen and (min-width: 450px) and (max-width: 768px) {
  .main__h1 {
    padding-left: 40px;
  }
}

@media screen and (min-width: 490px) {

  .ol__li {
    border-radius: 40px;
  }

  .ol__li::before {
    /* height: 30px;
    line-height: 18px; */
    height: 24px; 
    font-size: 14px;
  }

  .main {
    height: 1660px;
  }

  .main__section {
    height: 1470px;
  }
}

@media screen and (min-width: 530px) {
  .ol__li::before {
    height: 26px;  }
}

@media screen and (min-width: 550px) {

  .fonctionnement {
    height: 580px;
  }

  .ol__li {
    font-size: 24px;
    height: 95px;
    border-radius: 45px;
  }

  /* .ol__li::before {
    height: 33px;
  } */

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {
    padding-right: 35px;
    padding-left: 20px;
  }

  .main {
    height: 1770px;
  }

  .main__section {
    height: 1580px;
  }

  .article__h2 {
    font-size: 24px;
    line-height: 27px;
  }

  .article__p {
    font-size: 23px;
    line-height: 28px;
  }

  .fa-heart {
    font-size: 33px;
  }

  .fa-heart::after {
    font-size: 33px;
  }

  .image__bouton {
    font-size: 22px;
    height: 35px;
  }
}



@media screen and (min-width: 590px) {
  .recherche__logo {
    width: 45%;

  }

  .fonctionnement {
    height: 640px;
  }

  .ol__li {
    width: 90%;
    font-size: 26px;
    line-height: 68px;
    height: 105px;

  }

  .ol__li::before {
    height: 28px;
    /* width: 7% */
  }

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {
    font-size: 28px;
  }

  .fa-store {
    color: #9356DC;
  }

  .main {
    height: 1870px;
  }

  .main__section {
    height: 1680px;
  }
}

@media screen and (min-width: 650px) {

  .ol__li {
    border-radius: 50px;
  }

  .ol__li::before {
    height: 32px;
  }

  .main {
    height: 1980px;
  }

  .main__section {
    height: 1790px;
  }

  .image__bouton {
    font-size: 24px;
    height: 40px;
  }
}

@media screen and (min-width: 700px) {
  .recherche__logo {
    width: 48%;

  }

  .fonctionnement {
    height: 650px;
  }

  .ol__li {
    width: 90%;
    font-size: 32px;
    line-height: 72px;


  }

   /* .ol__li::before {
    height: 38px;
  }  */

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {
    font-size: 33px;
  }

  .fa-store {
    color: #9356DC;
  }

  .main {
    height: 2200px;
  }

  .main__section {
    height: 1920px;
  }

  .image__bouton {
    font-size: 28px;
    height: 44px;
  }
}
@media screen and (min-width: 760px) {

.ol__li::before {
  width: 5%;}
}

@media screen and (min-width: 768px) {

  .fonctionnement {
    height: 200px;
  }

  .fonctionnement__ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ol__li {
    font-size: 14px;
    line-height: 60px;
    height: 60px;
    padding-top: 0px;

  }

  .ol__li::before {

    width: 10%;
    left: -14px;
    font-size: 10px;
    line-height: 12px;
    height: 20px;
  }

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 15px;

  }

  .fa-store {
    color: #9356DC;
  }

  .main {
    height: 350px;
  }


  .main__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
  }

  .article {
    width: 23%;
    height: 170px;
  }

  .article__a {
    height: 170px;
  }

  .image__bouton {
    font-size: 12px;
    line-height: 14px;
    height: 20px;
    width: 34%;
    /* top: 10px; */
    right: 10px;
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
  }

  .footer__header {
    width: 20%;
    background-color: #353535;

  }

  .footer__logo {
    font-family: Shrikhand;
    font-style: italic;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px;
    width: 90%;
    padding-left: 0px;
    padding-bottom: 23px;
    text-align: left;
  }

  .footer__nav {
    width: 60%;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .footer__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }

  .fa-solid--white {
    color: white;
  }

  .ul__li {
    width: 30%;
    text-align: center;

  }

  .ul__li--petit {
    width: 20%;
  }

  .ul__a {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: white;
    text-decoration: none;
    width: 100%;
  }




}




@media screen and (min-width:768px) and (max-width: 990px) {
  .ol__li {
    width: 30%;
    font-size: 12px;
    line-height: 58px;
    height: 55px;

  }

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {
    font-size: 14px;

  }

  .fa-store {
    color: #9356DC;
  }

  .article__texte {
    padding-left: 10px;
  }

  .article__h2 {
    font-size: 14px;
    line-height: 17px;
  }

  .article__p {
    font-size: 13px;
    line-height: 16px;
  }

  .fa-heart {
    font-size: 23px;
  }

  .fa-heart::after {
    font-size: 23px;
  }
}



@media screen and (min-width: 820px) {
  .ol__li::before {
    width: 8%;
    height: 18px;
  }
}


@media screen and (min-width: 900px) {
  .recherche__logo {
    width: 50%;

  }

  .ol__li {
    font-size: 16px;
    width: 30%;
    height: 65px;


  }

  /* .ol__li::before {


    width: 10%;
    left: -14px;
    font-size: 12px;
    line-height: 12px;
    height: 22px;
  } */

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {
    font-size: 18px;
    padding-left: 0px;
    padding-right: 10px;

  }


  .fa-store {
    color: #9356DC;
  }

  .article {
    width: 23%;
    height: 180px;
  }

  .article__a {
    height: 180px;
  }

  .footer__nav {
    width: 55%;
  }
}

@media screen and (min-width: 920px) {
  .ol__li::before {
    height: 20px;
  }
}

@media screen and (min-width: 990px) {
  .article {
    width: 23%;
    height: 200px;
  }

  .article__a {
    height: 200px;
  }

  .article__h2 {
    font-size: 16px;
    line-height: 19px;
  }

  .article__p {
    font-size: 15px;
    line-height: 18px;
  }

  .fa-heart {
    font-size: 25px;
  }

  .fa-heart::after {
    font-size: 25px;

  }


  .image__bouton {
    font-size: 14px;
  }

  .footer__nav {
    width: 50%;
  }


}

@media screen and (min-width: 1024px) {
  /* .ol__li::before {
    font-size: 14px;
    height: 26px;
  } */

  .ol__li::before {
    width: 9%;
    font-size: 14px;
    height: 25px;
  }

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {

    padding-right: 20px;

  }

}

@media screen and (min-width: 1100px) {

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {
    font-size: 18px;
  }

  .fa-store {
    color: #9356DC;
  }

  .main {
    height: 400px;
  }

  .main__section {
    height: 250px;
  }

  .article {
    width: 23%;
    height: 220px;
  }

  .article__a {
    height: 220px;
  }

  .image__bouton {
    font-size: 16px;
    height: 27px;
  }

  .footer__nav {
    width: 45%;

  }
}

@media screen and (min-width: 1200px) {
  .recherche__logo {
    width: 52%;

  }

  .ol__li {
    font-size: 18px;
  }

  .ol__li::before {
    height: 28px;
    /* width: 9%; */
  }

  .fa-mobile-screen,
  .fa-list-ul,
  .fa-store {
    font-size: 20px;
  }

  .fa-store {
    color: #9356DC;
  }

  .image__bouton {
    font-size: 18px;
    height: 30px;
  }
}

@media screen and (min-width: 1250px) {
  .article {
    width: 23%;
    height: 240px;
  }

  .article__a {
    height: 240px;
  }
}

@media screen and (min-width: 1300px) {
  .ol__li::before {
    height: 32px;

  }
}

/*# sourceMappingURL=style.css.map */